.player-card{
  background-color: hsl(51, 100%, 63%);
  font-family: arial, sans-serif;
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 4%, 0.916);
  box-shadow: 5px 5px 5px hsla(0, 0%, 80%, 0.1);
  max-width: 250px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}
.player-card .player-image{
  width: 60%;
  height: auto;
  border-radius: 20px;
  border: none;
  margin: 0;
}
.player-card .player-name{
  margin: 0;
  /* text-align: center; */
}
.player-card .player-name .player-last-name{
  text-transform: uppercase;
  font-weight: 600;
}
.player-card p{
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
}